# Python cache
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual environments
.venv/
venv/
env/

# Git
.git/
.gitignore

# IDEs / Editors
.vscode/
.idea/

# OS files
.DS_Store
Thumbs.db

# Migrations cache
migrations/__pycache__/

# Logs
*.log
